body {
    margin: 0;
    padding: 0;
    background: url(soccerfield2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(161, 142, 34);
    font-family: sans-serif;

}

h1{
    color: #000;
    font-size: xxx-large;
    font-family: sans-serif;
    align-self: center;
    text-align: center;

}


.loginbox{
    width: 320px;
    height: 440px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;

}

.loginbox .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%  -50px);
}

.loginbox .titulo{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="button"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover
{
    color: #ffc107;
}

.loginbox  .flag
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.registerbox {
    width: 370px;
    height: 1000px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;  
}

.registerbox .cabeza {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.registerbox input
{
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input[type="text"], input[type="password"], input[type=email]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registerbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registerbox .input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.registerbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.registerbox a:hover
{
    color: #ffc107;
}

.forgotbox     {
width: 320px;
height: 500px;
background: #000;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
padding: 70px 30px;
}

.forgotbox .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%  -50px);
}

.forgotbox .cabeza {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.forgotbox .input
{
    width: 100%;
    margin-bottom: 20px;
}

.forgotbox .input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.forgotbox .input[type=email]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.forgotbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.forgotbox [type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.forgotbox .input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}


.forgotbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

nav *{margin:0;padding:0;box-sizing:border-box;font-size:0;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
} 

nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

nav li:hover{
    background-color:#fff;
    color:#000;
}

.row {
    box-sizing: border-box;
}


.row body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.row .column {
    float: left;
    width: 17%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.row avatarito {
    width:25px;
    height:25px;   
}

/* tarjetas de 3 */
.rowdos {
    box-sizing: border-box;
}


.rowdos body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.rowdos .column {
    float: left;
    width: 30%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.rowdos {margin: 0 -5px;}

/* Clear floats after the columns */
.rowdos:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.rowdos .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}